/* Estilos de footer */

#redes {
    
    padding: 10px;
    position: relative;
    width: 100%;
}

footer {
    background-image: url(/Multimedia/Imagenes/espacio.jpg);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.redesSociales {
    display: flex;
    justify-content: space-between;
}



#redes a img:hover {
    background-color: cornsilk;
    padding: 5px;
    transform: scale(1);
    
};