%titulostodos {
    text-align: center;
    justify-content: center;
    color: rgb(216, 216, 160);
    -webkit-text-fill-color: rgb(189, 41, 41);
    -webkit-text-stroke: 0.1px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 10px;

}

